@page
@model FirstProject.AuthAPI.Areas.Identity.Pages.Account.Manage.User.DetailsModel
@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        @foreach(var role in Model.Role){
            <dd class="col-sm-10">
                @Html.DisplayFor(model => role)
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id">Изменить</a> |
    <a asp-page="../UsersManager">К списку пользователей</a>
</div>
